.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .lead__title {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    width: calc(100% - 16px*2);
    font-size: 40px;
    line-height: 44px;
  }
}