.place__paragraph {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 26px 0;
  text-rendering: optimizeLegibility; 
}

.place__paragraph:last-child {
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin: 0 auto 25px;
    font-size: 16px;
    line-height: 26px;
  }
}